# Ignore everything by default
*

!.gitignore
!.vimrc
!.bashrc
!.bash_profile
!.promptlinerc
!.editorconfig
!.npmrc
!.tmux.conf
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/coc/extensions/package.json
!setup.sh
